%h1 Product Index Page For Admin
%br
%hr
%h1 Import Your Products
= form_tag import_admin_index_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"
%hr
%h1 Your Products
%table.col-md-12.table.table-striped
  %tr.row
    %th Name
    %th Description
    %th Price
    %th Quantity
    %th Status
    %th Category
    %th Product ID
    %th Actions
  - @products.each do |product|
    %tr.row
      %td= link_to product.name, admin_path(product), method: :get
      %td= product.description
      %td= product.price
      %td= product.quantity
      %td= product.state
      %td= product.category.name
      %td= product.id
      %td
        = button_to "Delete", admin_path(product), method: :delete, data: {confirm: "Are you sure you want to delete #{product.name}?"}, class: "btn btn-danger"

  .row
  %td.text-center{colspan: "12"}
    = will_paginate @products, renderer: BootstrapPagination::Rails