.modal-dialog
  .modal-content
    .modal-body
      %h2 Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        %div
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off", class: "form-control"
        - if devise_mapping.rememberable?
          %div
            = f.check_box :remember_me
            = f.label :remember_me
        %div= f.submit "Sign in", class: "btn btn-primary"
      %br/
      = link_to "New User", new_user_registration_path, class: "btn btn-info"
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close






