
%h1 #{@title}
%hr
- @products.each do |product|
  .well
    .row
      .col-md-3
        = image_tag product.images.first.image.url(:preview)
      .col-md-9
        %p= link_to product.name, product_path(product)
        %p= product.description.truncate(150)
        %p
          $
          = product.price
.row
  %td.text-center{colspan: "6"}
    = will_paginate @products, renderer: BootstrapPagination::Rails
