%h1 Check Out!

.jumbotron
  - @cart.products.each do |product|
    .well
      .row
        .col-md-10
          %h4
            Product Name:
            = product.name
          %p
            Price: $
            = product.price
        .col-md-2
          %h4 
            Qty:
            = @cart.cart_products.find_by_product_id(product.id).quantity
  %p Sub Total: $ #{@cart.sub_total}
  %p GST: $ #{@cart.gst}
  %p PST: $ #{@cart.pst}
  %p Total Amount: $ #{@cart.total_price}


= form_tag charges_path do
  %script.stripe-button{"data-billing-address" => true, "data-shipping-address" => true, "data-email" => "#{current_user.email}", "data-label" => "Pay with Stripe", "data-amount" => "#{@cart.in_cents}", "data-description" => "FruityFruits' Checkout!", "data-key" => Rails.configuration.stripe[:publishable_key], src: "https://checkout.stripe.com/checkout.js"}

%hr
- if current_user.customer_id
  .well
    = current_user.stripe_card_type
    **** **** **** #{current_user.stripe_card_last4}
    = button_to "Charge With This Card", charge_exisiting_card_path, class: "btn btn-primary", data: {confirm: "Are you sure you want to pay with this card?"}

